// Colors
/* Coolors Exported Palette - coolors.co/f4f1de-e07a5f-3d405b-81b29a-f2cc8f */

/* RGB */
$white: rgba(244, 241, 222, 1);
$red: rgba(224, 122, 95, 1);
$gray: rgba(61, 64, 91, 1);
$black: rgb(29, 31, 44);
$green: rgba(129, 178, 154, 1);
$orange: rgba(242, 204, 143, 1);


// sizes:
$xs-size: 0.8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 2.4rem;
$xl-size: 4.8rem;